.list-container{
    height: calc(100% - 140px);
    overflow-y: scroll;
    background-color: #e0e2e0;
    padding: 25px 40px;
}
.list-titles-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 60px;
    margin-bottom: 20px;
    border: 2px solid black;
}
.list-message{
    text-align: center;
}