.element-container{
    display: flex;
    align-items: center;
    height: 75px;
    background-color: white;
    margin-bottom: 18px;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgb(105, 104, 104);
}
.element-category{
    flex: 1;
    text-align: center;
}